# Ignore the downloads folder
downloads/

# Ignore the cv_data.json file
src/templates/cv_data.json

# Ignore all images inside the /src/media/images/ folder
src/assets/images/*

# But don't ignore profile-1.jpg
!src/assets/images/profile-1.jpg

# Node modules
node_modules/

# Package lock
package-lock.json

# Logs
*.log

# Environment files
.env
