/* Bluewave 	- https://coolors.co/ffffff-d7d7d7-1e1e1e-1386c4-292b2c */

:root {
  --theme-color-white: #ffffff;
  --theme-color-light: #d7d7d7;
  --theme-color-dark: #1e1e1e;
  --theme-color-primary: #1386C4;
  --theme-color-accent: #292B2C;

  --theme-roundness: 5px;
  --theme-font-headers: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --theme-font-body: 'Lucida Console', monospace;
}
