/* Template 	- https://coolors.co/000000-000000-00FF00-00FF00-717171 */

:root {
  --theme-color-white: #000000;
  --theme-color-light: #000000;
  --theme-color-dark: #00FF00;
  --theme-color-primary: #00FF00;
  --theme-color-accent: #717171;

  --theme-roundness: 0px;
  --theme-font-headers: 'Lucida Console';
  --theme-font-body: 'Lucida Console';
}
